<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>

<body>
    <h1>hello world by dat</h1>
    <div>
        <img class="datpham" src="/images/lambo.jpg" alt="">
    </div>
</body>

</html>