<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="/">Hệ thống Quản lý Đào tạo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/taikhoan/admin/dashboard">Trang chủ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/taikhoan/admin/manage-admins">Quản lý Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/taikhoan/admin/manage-students">Quản lý Sinh viên</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/taikhoan/admin/manage-courses">Quản lý Học phần</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/taikhoan/admin/manage-grades">Quản lý Điểm</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/taikhoan/admin/manage-news">Quản lý Tin tức</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown">
                        <i class="bi bi-person-circle"></i>
                        <% if (typeof user !=='undefined' ) { %>
                            <%= user.email %>
                                <% } else { %>
                                    Tài khoản
                                    <% } %>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="/taikhoan/admin/profile">Thông tin cá nhân</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/taikhoan/dang-xuat">Đăng xuất</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>